
* {
	margin: 0;
	padding: 0;
	list-style: none;
}
i{
	padding: 0;
	margin: 0;
}

/* 去掉a标签的下划线开始 */
a {
	text-decoration: none;
}

/* 去掉a标签的下划线结束 */

/* 小米官网顶部导航开始 */
.nav-box {
	width: 100%;
	height: 40px;
	background: #333;
	font-size: 12px;
}

.nav-content {
	width: 1226px;
	height: 100%;
	background: #333;
	margin: 0 auto;
}

.nav-left-list {
	width: 780px;
	height: 100%;
	background: #333;
	float: left;
}

.nav-left-list a {
	color: #b0b0b0;
	/* font-size: 12px; */
	line-height: 40px;
	display: inline-block;
	position: relative;
}
.nav-left-list .er .erwei{
	width: 124px;
	background: white;
	height: 124px;
	position: absolute;
	top: 40px;
	left: -39px;
	padding: 18px 0px 14px;
	z-index: 999;
	box-shadow: rgb(170, 170, 170) 0px 1px 5px;
	display: none;
}
.nav-left-list .er .erwei img{
	display: block;
	margin: 0 auto;
	width: 90px;
	height: 90px;
}
.nav-left-list .er .erwei .name{
	display: block;
    text-align: center;
    font-size: 14px;
    color: #333;
    line-height: 1;
    margin-top: 14px;
}
.nav-left-list .er .erwei .sanjiao{
	width: 0;
    height: 0;
    border-width: 0 10px 10px;
    border-style: solid;
    border-color: transparent transparent #fff;
    position: absolute;
    top: -10px;
    left: 46px;
}
.nav-left-list span {
	color: #424242;
	margin: 0 3px;
}

.nav-right-list {
	width: 280px;
	height: 100%;
	background: #333;
	float: right;
	position: relative;
}

.nav-right-list a {
	color: #b0b0b0;
	/* font-size: 12px; */
	line-height: 40px;
	display: inline-block;
}
.nav-right-list .er{
	position: relative;
}

.nav-right-list span {
	color: #424242;
	margin: 0 3px;
}
.aa{
	display: block;
	float: right;
	width: 120px;
	height: 100%;	
}
.shopping-car {
	display: block;
	width: 120px;
	height: 100%;
	background: #424242;
	float: right;
	text-align: center;
	position: relative;
	z-index: 32;

}
.gouwu_list{
	width: 316px;
	background: white	;
	/* height: 98px; */
	height: 0;
	position: absolute;
	top: 40px;
	left: -35px;
	z-index: 31;
	/* padding: 15px 0 0; */
	color: #424242;
	box-shadow: 0 2px 10px rgba(0,0,0,0.15);
	/* display: none; */
}
.gouwu_list .liname{
	margin: 5px 20px 20px;
	text-align: center;
	padding: 20px 0;
	height: 0;
	display: none;
}
/* 标签前可以连续放入类名 */
.nav-right-list .aa:hover .shopping-car{
	background: white;
	color: #FF6700;
}

/* 小米官网顶部导航结束 */
/* 小米官网搜素开始 */
.sear{
	width: 100%;
	height: 100px;	
	position: relative;
}
.search-box {
	width: 1226px;
	height: 100px;
	margin: 0 auto;
	
}

.mi-logo {
	width: 55px;
	height: 55px;
	margin-top: 23px;
	float: left;
}

.mi-logo img {
	width: 100%;
	height: 100%;
}

.search-list {
	width: 850px;
	height: 100%;
	float: left;
}

.search-list span {
	color: #333;
	font-size: 16px;
	line-height: 100px;
	margin: 0 10px;
}
.se_lshop{
	position: absolute;
    top: 100px;
    left: 0;
    z-index: 30;
	width: 100%;
    height: 229px;
    border-top: 1px solid #e0e0e0;
	background: #fff;
	height: 229px;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
	margin-bottom: 0px;
	display: none;
}
.se_lshop ul{
	font-size: 12px;
	width: 1226px;
	height: 229px;
	margin: 0 auto;
	display: none;
}
.se_lshop ul .se_sp{
	position: relative;
    float: left;
    width: 180px;
    padding: 35px 12px 0;
    text-align: center;
}
.se_lshop ul .se_sp .se_spti{
	display: block;
    /* color: #757575; */
	text-decoration: none;
	text-align: center;
	margin-bottom: 16px;
	border-right: 1px solid #e0e0e0;

}
.se_lshop ul .se_sp .last{
	border-right: 0;
}
.se_lshop ul .se_sp .se_spti img{
	width: 160px;
    height: 110px;
}
.se_lshop ul .se_sp .se_name{
	display: block;
    color: #333;
	text-decoration: none;
	text-align: center;
	line-height: 20px;
	margin: 0 auto;
}
.se_lshop ul .se_sp p{
	list-style-type: none;
	font-size: 12px;
	line-height: 20px;
    color: #ff6700;
}
.se_lshop ul .se_sp .se_ti{
	position: absolute;
    top: -1px;
    left: 0;
    z-index: 1;
    width: 100%;
    font-size: 12px;
    text-align: center;
}
.se_lshop ul .se_sp .se_ti .tt{
	height: 18px;
    padding: 1px 20px;
    border: 1px solid #ff6700;
	color: #ff6700;
	display: inline-block;
}
/* 伪类选择器，当鼠标移入效果 */
.search-list span:hover{
	color: #ff6700;
}

.nav-content a:hover{
	color: white;
}
/* 伪类选择器，选择的是子元素的第几个 */
.search-list span:nth-child(1) {
	margin-left: 172px;
}

.search-bar {
	width: 295px;
	height: 50px;
	float: right;
	margin-top: 25px;
	position: relative;
}
.search-bar .jdsou{
	position: absolute;
    left: 0;
	top: 50px;
	display: none;
    z-index: 20;
    width: 243px;
    border: 1px solid #ff6700;
    border-top: 0;
}
.search-bar .jdsou .re_li .yueyou{
	background-color: white;
}
.search-bar .jdsou .re_li li a{
	position: relative;
    display: block;
    padding: 6px 15px;
    font-size: 12px;
    color: #424242;
}
.search-bar .jdsou .re_li li a .jd_name{
	color: #424242;
}
.search-bar .jdsou .re_li li a .much{
	position: absolute;
    right: 15px;
    top: 6px;
    color: #b0b0b0;
}
.search-bar .jdsou .re_li .yueyou:hover{
background: #f0f0f0;
}
.search-input{
	width: 245px;
	height: 50px;
	border: 1px solid #B0B0B0;
	box-sizing: border-box;
	padding-left: 10px;
	border-right: 0;
	outline: none;
}
.submit-btn{
	width: 50px;
	height: 50px;
	border: 1px solid #B0B0B0;
	float: right;
	box-sizing: border-box;
	text-align: center;
	line-height: 50px;
	color:  #616161;
	
}
.submit-btn .icon-sousuo{
	font-size: 20px;
	/* color: blue; */
}

.submit-btn:hover{
	background:#ff6700;
	color: white;
}

/* submit-btn:hover i{

	color: #FFF;
} */
/* .submit-btn :hover{
	color: #FFFFFF;
} */

/* 小米官网搜索结束 */

/* 轮播图部分开始 */
.banner-box{
	width: 1226px;
	height: 460px;
	background: red;
	position: relative;
	margin: 0 auto;
}
.bannerList{
	width: 234px;
	height: 460px;
	background: rgba(0,0,0,0.6);
	position: absolute;/* 相对于有定位属性的父元素 */
	top: 0;
	left: 0;
	padding-top: 20px;
	box-sizing: border-box;
}
.banner-imgs{
	width: 100%;
	height: 100%;
	background: green;
}
.banner-imgs img{
	width: 100%;
	height: 100%;
}
.bannerlist-item{
	width: 100%;
	height: 42px;
	color: #FFF;
	font-size: 14px;
	line-height: 42px;
	padding-left: 30px;
	box-sizing: border-box;
	cursor: pointer;/* 将鼠标移入时变成小手 */
}
.bannerlist-item:hover{
	background: #FF6700;
}
.bannerlist-item i{
	float: right;
	margin-right: 20px;
}
.bannerlist-item .bi1{
	width: 998px;
}
.bannerlist-item .bi2{
	width: 530px;
}
.bannerlist-item .bi3{
	width: 795px;
}
.bannerlist-item .bannerLi_box{
	/* display: inline-block; */
	display: none;
	height: 458px;
	/* width: 992px; */
	/* padding: 2px 0; */
	background: white;
	/* float: left; */
	position: absolute;
	left: 234px;
	top: 0;
	box-shadow: 0 8px 16px rgba(0,0,0,0.18);
	border: 1px solid #e0e0e0;
	font-size: 14px;
	z-index: 99;
	
}
.bannerlist-item .bannerLi_box ul{
	/* list-style-type: none; */
	/* display: inline-block; */
	width: 248px;
	height: 458px;
	padding: 2px 0;
	float: left;
}
.bannerlist-item .bannerLi_box .ban_shop{
    width: 248px;
	height: 76px;
	/* position: relative; */
	/* float: left; */
}
/* .bannerlist-item .bannerLi_box:hover span{
	color: #ff6700;
} */
.bannerlist-item .bannerLi_box .ban_shop a{
	display: block;
    padding: 18px 20px;
    line-height: 40px;
	color: #333;
	transition: color 0.2s;
}
.bannerlist-item .bannerLi_box .ban_shop a img{
	margin-right: 12px;
	vertical-align: middle;
	width: 40px;
    height: 40px;
}
.bannerlist-item .bannerLi_box .ban_shop a span{
	line-height: 40px;
	font-size: 14px;
}
.btn{
	width: 41px;
	height: 69px;
	
	position: absolute;
	top: 195px;
	background-image: url(../imgs/icon-slides.png);
	background-position: -83px 0;
	
}
.left:hover{
	background-position: 0 0;
}
.right:hover{
	background-position: -43px 0;
}
.left{
	left: 234px;
	background-image: url(../imgs/icon-slides.png);
	background-position: -83px 0;
}
.right{
	right: 0;
	background-image: url(../imgs/icon-slides.png);
	background-position: 41px 0;
}
.dots{
	width: 100px;
	height: 10px;
	position: absolute;
	right: 40px;
	bottom: 30px;
}
.dot{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: white;
	float: left;
	margin: 0 5px;
	box-sizing: border-box;
	border: 1 solid ;
}
/* 轮播图部分结束 */
/* 选购图标开始 */
.find-box{
	width: 1226px;
	height: 190px;
	margin:  20px auto 0;
}
.find-picture{
	width: 234px;
	height: 170px;
	background: #5f5750;
	float: left;
}
.find-picture-box{
	width: 78px;
	height: 85px;
	color: rgba(255,255,255,0.7);
	float: left;
	text-align: center;
	font-size: 14px;
	position: relative;
}
.find-picture-box i{
	display: block;
	font-size: 24px;
	line-height: 24px;
	margin-left:1px ;
	margin-top: 16px;
}
.find-picture-box i:hover{
	color: white;
}
.find-picture a:hover{
	color: white;
}
.find-vertical{
	width: 1px;
	height: 70px;
	background: #665e57;
	position: absolute;
	top: 6px;
	left: 77px;
}
.find-leve{
	width: 64px;
	height: 1px;
	background: #665e57;
	position: absolute;
	top: 0px;
	left: 6px;
}
.find-product{
	width: 992px;
	height: 170px;
	left: 234px;
	float: left;
	
}
.find-product-box{
	width: 316px;
	height: 170px;
	background: orange;
	float: left;
	margin-left: 14px;
}
.find-product-box img{
	width: 100%;
	height: 100%;
}
.find-product-box img:hover{
	box-shadow: 0 15px 30px rgba(0,0,0,0.1);
}
/* 选购图标结束 */
/* 小米闪购开始 */
.flash-box{
	width: 1226px;
	height: 438px;
	margin: 20px auto 0;
}

.flash-header{
	width: 100%;
	height: 58px;
	position: relative;
}
.flash-bd{
	width: 100%;
	height: 340px;
}
.flash-title{
	font-size: 22px;
	color: #333333;
	line-height: 58px;
	font-weight: 200;
	/* font-family: 宋体; */
	
}
.flash-more{
	width: 70px;
	height: 25px;
	position: absolute;
	top: 17px;
	right: 0;
}
.more-prev{
	width: 35px;
	height: 100%;
	border: 1px solid #e0e0e0;
	box-sizing: border-box;
	float: left;
	padding-left: 9px;
}
.more-prev i {
	color: #e0e0e0;
}

.more-next{
	width: 35px;
	height: 100%;
	border: 1px solid #e0e0e0;
	box-sizing: border-box;
	float: right;
	border-left: 0;
	padding-left: 10px;
}
.more-next i{
	color: #b0b0b0;
}
.more-next:hover i{
	color: #ff6700;
}
.flash-desc{
	width: 234px;
	height: 340px;
	background: #f1eded;
	border-top: 1px solid #ff0000;
	box-sizing: border-box;
	text-align: center;
	padding-top: 54px;
	float: left;
	
}
.desc-time{
	display: block;
	font-size: 21px;
	color: #ef3a3b;
}
.flash-desc img{
	margin: 25px auto;
}
.flash-desc p{
	color: rgba(0,0,0,0.54);
	font-size: 15px;
}
.desc-countDown{
	width: 168px;
	height: 46px;
	margin: 28px auto 0;
}
.desc-count{
	font-size: 24px;
	background: #605751;
	width: 46px;
	height: 46px;
	line-height: 46px;
	color: #FFFFFF;
	float: left;
}
.desc-countDown span{
	float: left;
	color: #605751;
	font-size: 24px;
	line-height: 46px;
	margin: 0 4.6px;
}
.flash-good{
	width: 992px;
	height: 100%;
	float: right;
}
.goods-item{
	width: 234px;
	height: 100%;
	background: white;
	margin-left: 14px;
	border-top: 1px solid #ffac13;
	box-sizing: border-box;
	text-align: center;
	padding-top: 39px;
	position: relative;
	float: left;
}
.goods-item:nth-child(2){
	border-top: 1px solid #83c44e;
}
.goods-item:nth-child(3){
	border-top: 1px solid #2196f3;
}
.goods-item:nth-child(4){
	border-top: 1px solid #e53935;
}
.mask{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.02);
	position: absolute;
	top: 0;
	left: 0;
}
.goods-item img{
	width: 160px;
	height: 160px;
	
}
h3.goods-title{/* 交叉选择器即使h3也叫goods-title */
	color: #212121;
	font-size: 14px;
	font-weight: 400;
	margin: 0 20px 3px;
	overflow: hidden;/* 超出部分隐藏 */
	text-overflow: ellipsis;/* 文本超出部分省略 */
	white-space: nowrap;/* 文字不换行 */
}
p.goods-desc{
	color: #B0B0B0;
	font-size: 12px;
	margin: 0 20px 12px;
	overflow: hidden;/* 超出部分隐藏 */
	text-overflow: ellipsis;/* 文本超出部分省略 */
	white-space: nowrap;/* 文字不换行 */
}
p.gooods-price{
	color: #FF6709;
	font-size: 14px;
}
p.gooods-price del {
	color: #B0B0B0;
}
/* 小米闪购结束 */
/* 小米广告开始 */
.guanggao{
	width: 1226px;
	height: 120px;
	background: blue;
	margin: 0 auto ;
}
.guanggao img{
	width: 100%;
	height: 100%;
}
#guanggao2{
	margin-top: 14px;
	margin-bottom: 14px;
}
/* 小米广告结束 */
/* 小米商品背景开始 */
.background{
	width: 100%;
	
	background: #f5f5f5;
	margin-top: 40px;
	padding-top: 22px;
}
/* 小米商品背景结束 */
/* 小米商品手机开始 */
.commodity{
	width: 1226px;
	height: 672px;
	margin: 0 auto;
}
.commodity-top{
	width: 1226px;
	height: 58px;
	margin: 0 auto;
	position: relative;
}
h2.commodity-title{
	color: #333;
	font-weight: 200;
	line-height: 58px;
	font-size: 22px;
}
.commodity-right-box{
	height: 58px;
	width: 136px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	/* color: #424242; */
	color: #b0b0b0;
}
.commodity-right-box p{
	font-size: 14px;
	margin-left:30px;
}
.commodity-right-box i{
	font-size: 18px;
	margin-left:8px;
	line-height: 58px;
}
.commodity-right-box:hover p{
	color: #ff6700;
}
.commodity-right-box:hover i{
	color: #ff6700;
}
.commodity-body{
	width: 100%;
	height: 614px;
}
.commodity-body-left{
	width: 234px;
	height: 100%;
	float: left;
	transition: transform 0.2s linear;
}
.commodity-body-left:hover{
	box-shadow: 0 10px 30px #B0B0B0;
	transform: translate(0,-2px);
}
.commodity-body-left img{
	width: 100%;
	height: 100%;
}
.commodity-body-right{
	width: 992px;
	height: 100%;
	float: left;
}
.commodity-body-right-box{
	width: 234px;
	height: 300px;
	background: #fff;
	margin-left: 14px;
	margin-bottom: 14px;
	box-sizing: border-box;
	font-weight: 400px;
	text-align: center;
	float: left;
	transition: transform 0.2s linear;
}
.commodity-body-right-box:hover{
	box-shadow: 0 10px 30px #B0B0B0;
	transform: translate(0,-2px);
	
}
.commodity-new{
	width: 64px;
	height: 20px;
	background: #83c44e;
	margin: 0 auto;
	font-size: 12px;
	line-height: 20px;
	text-align: center;
	color: #fff;
}
.commodity-body-right-box img{
	display: block;
	width: 160px;
	height: 160px;
	margin: 0 auto;
}

a.new-title{
	color: #333;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
}
p.new-word{
	height: 18px;
	color: #B0B0B0;
	margin: 10px 10px 10px;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
p.new-price{
	color: #ff6700;
	font-size: 16px;
}
p.new-price del{
	color: #b0b0b0;
	font-size: 16px;
}
.commodity-body-right-box:nth-child(3) div{
	background: #e53935;
}
.commodity-body-right-box:nth-child(4) div{
	background: #e53935;
}
.commodity-body-right-box:nth-child(5) div{
	background: #e53935;
}
.commodity-body-right-box:nth-child(6) div{
	background: #e53935;
}
.commodity-body-right-box:nth-child(7) div{
	background: #e53935;
}
.commodity-body-right-box:nth-child(8) div{
	background: #e53935;
}
/* 小米商品手机结束 */
.guanggao2{
	width: 1226px;
	height: 120px;
	background: blue;
	margin: 24px auto ;
}
.guanggao2 img{
	width: 100%;
	height: 100%;
}
/* 小米空调商品开始 */
.electric{
	width: 1226px;
	height: 686px;
	margin: 0 auto;
}
.electric-top{
	width: 1226px;
	height: 58px;
}
.electric-top-right{
	width: 280px;
	height: 58px;
	float: right;
}
.electric-top-right-title{
	width: 32px ;
	height: 26px;
	margin-top: 14px;
	margin-left: 30px;
	float: left;
	font-size: 16px;
	color: #424242;
}
.electric-top-right-title:nth-child(1){
	color: #ff6700;
	border-bottom: 2px solid #ff6700;
}
.electric-top-right-title:nth-child(2){
	width: 64px;
}
.electric-top-right-title:hover{
	color: #ff6700;
	border-bottom: 2px solid #ff6700;
}

h2.electric-left-title{
	color: #333;
	font-weight: 200;
	line-height: 58px;
	font-size: 22px;
	float: left;
}
.electric-body{
	width: 1226px;
	height: 614px;
}
.electric-body-left{
	width: 234px;
	height: 614px;
	float: left;
}
.electric-left-picture{
	width: 100%;
	height: 100%;
}
.electric-body-right{
	width: 992px;
	height: 614px;
	float: left;
}
.electric-body-left-box{
	width: 234px;
	height: 300px;
	background: gray;
	margin-bottom: 14px;
	box-sizing: border-box;
	transition: transform 0.2s linear;
}
.electric-body-left-box:hover{
	transform: translateY(-2px);
	box-shadow: 0 10px 30px #B0B0B0;
}
.electric-body-righ-box{
	width: 234px;
	height: 300px;
	background: white;
	margin-bottom: 14px;
	margin-left: 14px;
	padding-top: 34px;
	box-sizing: border-box;
	overflow: hidden;
	position: relative;
	transition: transform 0.2s linear;
	float: left;
	
}
.electric-world{
	color: #333;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 24px 10px;
}
.electric-body-righ-box:hover{
	transform: translateY(-5px);
	box-shadow: 0 10px 30px #B0B0B0;
}
.electric-body-righ-box:hover .electric-body-righ-box-recover{
	top:224px;
}
.electric-body-righ-box-recover{
	width: 234px;
	height: 76px;
	background: #ff6700;
	padding: 8px 30px;
	box-sizing: border-box;
	position: absolute;
	top: 300px;
	left: 0;
	transition: 0.3s ;
}
.electric-body-righ-picture{
	display: block;
	width: 150px;
	height: 150px;
	margin: 0 auto ;
}
.electric-price{
	color: #ff6700;
	text-align: center;
}
.electric-recover{
	font-size: 12px;
	color: #fff;
	margin-top: 5px;
}
.electric-recover-world{
	color: rgba(255,255,255,0.6);
	font-size: 12px;
	margin-top: 5px;
}
.electric-body-righ-box-last{
	width: 234px;
	height: 300px;
	float: left;
	margin-bottom: 14px;
	margin-left: 14px;
}
.electric-body-righ-box-last-little{
	width: 234px;
	height: 143px;
	background: #fff;
	padding-top: 20px;
	box-sizing: border-box;
	margin-bottom: 14px;
	transition: transform 0.2s linear
}
.electric-body-righ-box-last-little:hover{
	box-shadow: 0 10px 30px #B0B0B0;
	transform: translateY(-2px);
}
p.electric-little-world{
	display: block;
	font-size: 14px;
	font-weight: 400;
	color: #333;
	width: 94PX;
	height: 21px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 20px 0 5px 30px;
	float: left;
}
.electric-body-right-little-picture{
	display: block;
	width: 80px;
	height: 80px;
	margin-right: 10px;
	float: right;
}
.electric-little-price{
	display: block;
	font-size: 14px;
	font-weight: 400;
	color: #ff6700;
	width: 94PX;
	height: 21px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0 0 0 30px;
	float: left;
}
.electric-little-world-more{
	display: block;
	font-size: 18px;
	font-weight: 400;
	color: #333;
	width: 94px;
	height: 30px;
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 10px;
	float: left;
}
.electric-little-world-hot{
	display: block;
	font-size: 12px;
	color: #757575;
	width: 94px;
	margin-left: 30px;
	float: left;
}
i.icon-youjiantou{
	font-size: 48px;
	line-height: 100px;
	color: #ff6700;
	font-weight: 500;

}

/* 小米空调商品结束 */
/* 为你推荐开始 */
.weinituijian{
	width: 1226px;
	height: 372px;
	margin: 0 auto;
}
.weinituijian-top{
	width: 100%;
	height: 58px;
	position: relative;
	
}
.weinituijian-top-click{
	width: 72px;
	height: 24px;
	position: absolute;
	top: 17px;
	right: 0;
}
.weinituijian-top-click-left{
	width: 36px;
	height: 24px;
	float: left;
	border: 1px solid #e0e0e0;
	border-right: 0;
	box-sizing: border-box;
	padding-left: 9px;
}
.weinituijian-top-click-left i{
	color:  #e0e0e0;
}
.weinituijian-top-click-right{
	width: 36px;
	height: 24px;
	float: right;
	border: 1px solid #b0b0b0;
	box-sizing: border-box;
	padding-left: 14px;
}
.weinituijian-top-click-right i{
	color: #b0b0b0;
}
.weinituijian-top-click-right:hover i{
	color: #ff6700;
}
.weinituijian-body{
	width: 1226px;
	height: 314px;
}
.weinituijian-body-box{
	width: 234px;
	height: 300px;
	background: white;
	box-sizing: border-box;
	margin-bottom: 14px;
	margin-right: 14px;
	padding-top: 20px;
	text-align: center;
	color: #333;
	font-size: 14px;
	float: left;
	transition: transform 0.2s linear;
}
.weinituijian-body-picture{
	display: block;
	width: 140px;
	height: 140px;
	margin: 0 auto;
	padding-bottom: 40px;
}

a.weinituijian-body-box-title{
	color: #333;
	padding-bottom: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
p.weinituijian-body-box-price{
	color: #ff6700;
	padding-bottom: 10px;
}
p.weinituijian-body-box-haoping{
	color: #757575;
}
.weinituijian-body-box:hover{
	transform: translateY(-2px);
	box-shadow: 0 10px 30px #B0B0B0;
}
.weinituijian-body div:last-child{
	margin-right: 0;
}

/* 为你推荐结束 */
/* 热门商品开始 */
.hotshangping{
	width: 1226px;
	height: 473px;
	margin: 0 auto;
}
.hotshangping-top{
	width: 100%;
	height: 58px;
}
.hotshangping-body{
	width: 100%;
	height: 415px;
}
.hotshangping-body-box{
	width: 296px;
	height: 415px;
	background: #FFFFFF;
	font-size: 14px;
    line-height: 24px;
    font-weight: 400;
	margin-right: 14px;
	float: left;
	transition: transform 0.2s linear;
}
.hotshangping-body-box:hover{
	transform: translateY(-2px);
	box-shadow: 0 10px 30px #B0B0B0;
}
.hotshangping-body-picture{
	width: 100%;
	height: 220px;
	margin-bottom: 28px;
}
p.hotshangping-body-box-world{
	height: 72px;
	width: 240px;
	margin: 0 28px 22px;
	overflow: hidden;
	text-overflow: ellipsis;
}
a.hotshangping-body-title{
	color: #333;
}
.hotshangping-body-author{
	color: #b0b0b0;
	font-size: 12px;
	padding: 0 10px 0 0;
	margin: 0 28px 8px;
}
.hotshangping-body-namebox{
	height: 22px;
	width: 236px;
	margin: 0 30px;
}
h3.hotshangping-body-name{
	display: block;
	color: #333;
	font-size: 14px;
	font-weight: 400;
	float: left;
}
.hotshangping-body-shu{
	color: #e0e0e0;
	margin: 0 5px;
	float: left;
}
p.hotshangping-body-price{
	font-size: 14px;
	color: #ff6700;
	font-weight: 400;
}
.hotshangping-body div:last-child{
	margin-right: 0;
}
/* 热门商品结束 */
/* 内容开始 */
.neirong{
	width: 1226px;
	height: 492px;
	margin: 0 auto;
}
.neirong-top{
	width: 1226px;
	height: 58px;
}
.neirong-body-box{
	width: 1226pxpx;
	height: 420px;
}
.neirong-body{
	width: 296px;
	height: 420px;
	background: white;
	border-top: 1px solid #ffac13;
	box-sizing: border-box;
	margin-right: 14px;
	margin-bottom: 14px;
	padding-top: 45px;
	text-align: center;
	float: left;
	color: #ffac13;
	transition: transform 0.2s linear;
}
.neirong-body-left{
	width: 20px;
	height: 24px;
	padding: 12px 0;
	background: white;
	float: left;
	margin-top: 150px;
}
.neirong-body-right{
	width: 20px;
	height: 24px;
	padding: 12px 0;
	background: white;
	float: right;
	margin-top: 150px;
}
div.neirong-body span.neirong-body-left i.icon-left{
	color: white;
}
div.neirong-body span.neirong-body-right i.icon-right{
	color: white;
}
.neirong-body:hover .neirong-body-left{
	background: rgba(66,66,66,0.2);
}
.neirong-body:hover .neirong-body-right{
	background: rgba(66,66,66,0.2);
}
.neirong-body .neirong-body-left:hover{
	background: rgba(66,66,66,0.6);
}
.neirong-body .neirong-body-right:hover{
	background: rgba(66,66,66,0.6);
}
.neirong-body:hover{
	transform: translateY(-2px);
	box-shadow: 0 10px 30px #B0B0B0;
	
}
.neirong-body-box div:last-child{
	margin-right: 0;
	border-top: 1px solid #2196f3;
	color: #2196f3;
}
.neirong-body-box div:nth-last-child(2){
	border-top: 1px solid #e53935;
	color:#e53935;
}
.neirong-body-box div:nth-child(2){
	border-top: 1px solid #83c44e;
	color:#83c44e;
}
h2.neirong-top-title{
	
	font-size: 16px;
	font-weight: 400;
}
h2.neirong-top-name{
	color: #333;
	font-size: 20px;
	font-weight: 400;
}
.neirong-top-neirong-box{
	width: 200px;
	height: 40px;
	margin: 0 48px 10px;
	overflow: hidden;
	text-overflow: ellipsis;
}
p.neirong-top-neirong{
	font-size: 12px;
	line-height: 20px;
	color: #b0b0b0;

}
.neirong-top-price-box{
	width: 276px;
	height: 21px;
	margin: 0 10px 15px;
}
p.neirong-top-price{
	color: #333;
	font-size: 14px;
	font-weight: 400;
}
img.neirong-body-picture{
	width: 216px;
	height: 154px;
}
.neirong-body-yuan-box{
	width: 30px;
	height: 30px;
	margin-top: 30px;
	margin: 30px auto;
}
li.neirong-body-yuan{
	width: 6px;
	height: 6px;
	background: #B0B0B0;
	border-radius: 50%;
	float: left;
	margin: 0 2px;
}
/* 内容结束 */
/* 视频开始 */
.shiping{
	width: 1226px;
	height: 357px;
	margin: 0 auto;
}
.shiping-top{
	width: 100%;
	height: 58px;
	position: relative;
}
.shiping-commodity-right-box{
	height: 58px;
	width: 136px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0px;
	right: 0;
	color: #b0b0b0;
}
.shiping-commodity-right-box p{
	float: left;
	font-size: 14px;
	margin-left:30px;
}
.shiping-commodity-right-box i{
	font-size: 18px;
	margin-left:8px;
	line-height: 58px;
	float: left;
}
.shiping-commodity-right-box:hover {
	color: #ff6700;
}
.shiping-body-box{
	width: 1226px;
	height: 299px;
}
.shiping-body:last-child{
	margin-right: 0;
}
.shiping-body{
	width: 296px;
	height: 285px;
	background: #FFFFFF;
	float: left;
	margin-right: 14px;
	transition: transform 0.2s linear;
	position: relative;

}
.shiping-body:hover{
	transform: translateY(-2px);
	box-shadow: 0 10px 30px #B0B0B0;
}
.shiping img{
	display: block;
	width: 296px;
	height: 180px;
	margin-bottom: 28px;
}
.shiping-body-picture{
	width: 36px;
	height: 24px;
	position: absolute;
	border: 2px solid #fff;
	border-radius: 12px;
	background: rgba(0,0,0,0.6);
	top: 150px;
	left: 10px;
	box-sizing: border-box;
	padding-left: 7px;
	transition: 0.2s linear;
}
.shiping-body:hover .shiping-body-picture{
	background: #ff6700;
	border: 2px solid #ff6700;
}
.shiping-body i{
	font-size: 20px;
	line-height: 20px;
	color: white;
}
h3.shiping-body-title{
	display: block;
	margin-bottom: 6px;
	font-size: 14px;
	color: #333;
	font-size: 14px;
    font-weight: 400;
    text-align: center;
}
.shiping-body p{
	font-size: 12px;
	color: #b0b0b0;
	text-align: center;
}
/* 视频结束 */
/* <!-- 底部开始 --> */
.dibu{
	width: 100%;
	height: 272px;
	background: #FFFFFF;
	margin-top: 40px;
}
.fuwu{
	width: 1260px;
	height: 25px;
	padding: 28px 0;
	margin: 0 auto;
}
.fuwu li:nth-child(5){
	border-right: 0 solid #616161;
}
li.tubiao{
	width: 245px;
	height: 100%;
	line-height: 25px;
	text-align: center;
	font-size: 16px;
	color:  #616161;
	border-right: 1px solid #e0e0e0;
	float: left;
}
.tubiao:hover{
	color: #ff6700;
}
.tubiao i{
	font-size: 24px;
}
.link{
	width: 1226px;
	height: 192px;
	padding-top: 40px;
	color:  #757575;
	margin: 0 auto;
	box-sizing: border-box;
	border-top:1px solid #757575;
}
.titlel{
	width: 160px;
	height: 150px;
	float: left;
	color: #424242;
	font-size: 14px;
	line-height: 1.25;
}
.tito:hover{
	color: #ff6700;
}
.titlel .tito:nth-child(1):hover{
	color: #ff6700;
}
.titlel .tito{
	width: 160px;
	height: 20px;
	/* margin-top: 26px; */
	margin-top: 14px;
	font-size: 12px;
	color: #757575;
}
.titlel .tito:nth-child(1){
	margin-top: 26px;
	color: #616161;
}
.title2{
	width: 252px;
	height: 112px;
	border-left:1px solid  #757575;
	float: right;
}
.dianhua{
	width: 251px;
	height: 22px;
	font-size: 22px;
	margin: 0 0 5px;
	color: #ff6700;
	text-align: center;
}
.shoufei{
	width: 251px;
	height: 48px;
	margin-bottom: 16px;
	box-sizing: border-box;
	text-align: center;
	padding: 0 35px;
	font-size: 12px;
	color: #616161;
}
.lianxi{
	width: 118px;
	height: 28px;
	border: 1px solid #ff6700;
	color: #ff6700;
	background: white;
	text-align: center;
	line-height: 28px;
	margin: 0 auto;
	transition: 0.2S linear;
}
.lianxi:hover{
	background: #ff6700;
	color: white;
}
/* <!-- 底部结束 --> */
/* 尾部开始 */
.weibu{
	width: 1226px;
	height: 180px;
	margin: 0 auto;
	padding-top: 30px;
	box-sizing: border-box;
}
.weibu .mi{
	display: block;
	width: 57px;
	height: 57px;
	margin-right: 10px;
	float: left;
}
.weibu .mi img{
	width: 100%;
	height: 100%;
}
.weibu-wenzi{
	width: 1159px;
	height: 106px;
	float: right;
}
.weibu-wenzi .top{
	width: 100%;
	height: 19px;
	font-size: 12px;
	color: #b0b0b0;
	line-height: 18px;
	
}

.weibu-wenzi .top a{
	color: #b0b0b0;
}
.weibu-wenzi .top a:hover{
	color: #ff6700;
}
.weibu-wenzi .top a:nth-child(1){
	color: #ff6700;
}
.weibu-wenzi .body{
	width: 100%;
	height: 120px;
}
.weibu-wenzi .body a{
	color: #b0b0b0;
	font-size: 12px;
}
.weibu-wenzi .body a:hover{
	color: #ff6700;
}
.weibu-wenzi .body .no:hover{
	color: #b0b0b0;
}
.weibu .tubao{
	width: 100%;
	height: 33px;
	float: left;
}
.weibu .tubao .picture{
	width: 83px;
	height: 28px;
	float: left;
	margin-right: 5px;
}
.weibu .tubao .picture img{
	width: 100%;
	height: 100%;
}
.fashao{
	width: 100%;
	height: 19px;
	box-sizing: border-box;
	margin-top: 30px;
	text-align: center;
	color: #b0b0b0;
	font-size: 12px;
	
}
/* 尾部结束 */